.auth-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth-box {
  background: rgba(0, 0, 0, 0.8);
  padding: 40px;
  border-radius: 15px;
  width: 350px;
  text-align: center;
  box-shadow: 0 0 20px cyan;
}

.auth-box h2 {
  color: white;
  margin-bottom: 20px;
}

.auth-box input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: none;
}

.auth-box button {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-btn {
  background: cyan;
}

.register-btn {
  background: orange;
}